.git
.github
.gitignore
.gitattributes
.editorconfig
.styleci.yml

node_modules
vendor
public/build
public/hot
public/storage

storage/app/public/*
storage/backups
storage/logs/*
storage/framework/cache/*
storage/framework/sessions/*
storage/framework/views/*
storage/debugbar
storage/pail

.env
.env.*
!.env.example

*.sql
*.sqlite
*.log

tests
.phpunit.cache
.phpunit.result.cache
phpunit.xml
phpstan.neon

deploy.sh
restore-backup-test.sh
Dockerfile
.dockerignore
k8s
