/*Buttons*/
.btn-confirm {
    width: 100%;
    padding: 8px;
    background-color: var(--secondary-color);
    color: var(--background-color);
    font-size: 20px;
    border-radius: 20px;
    border: 0;
    margin: 20px 0;
    cursor: pointer;
}

.btn-edit{
    width: fit-content;
    padding: 5px;
    background-color: var(--primary-color);
    border-radius: 20px;
    cursor: pointer;
}

.btn-options {
    font-size: .8em;
    padding: 4px;
    min-width: 100px;
    margin: 2px;
    /*background-color: #e9f8fd;*/
    background-color: var(--primary-color);
    border: 0;
    border-radius: 20px;
}

.btn-options:hover {
    background-color: var(--secondary-color);
    color: var(--primary-color);
    cursor: pointer;
}

.float-btn {
    font-size: 2.2em;
    height: 60px;
    width: 60px;
    border: 0;
    position: fixed;      /* em vez de sticky */
    bottom: 10px;         /* distância do fundo */
    right: 10px;          /* distância da direita */
    background-color: transparent;
    color: var(--text-color);
    cursor: pointer;
    border-radius: 50%;   /* opcional: deixa redondo */
    display: flex;        /* centraliza o ícone */
    align-items: center;
    justify-content: center;
}

.btn-line {
    width: 100%;
    background-color: var(--primary-color);
    color: var(--primary-contrast);
    border-radius: var(--border-style);
    box-shadow: 2px 2px 2px rgba(0,0,0,0.1);
    padding: 2px 5px;
    border: 0px;
    margin: 5px 5px;
    cursor: pointer;
}

.btn-line:hover {
    background-color: var(--secondary-color);
    color: var(--secondary-contrast);
}

.btn-large {
    background: var(--primary-color);
    color: var(--primary-contrast);
    padding: 12px 20px;
    font-size: 1.1em;
    border: none;
    border-radius: var(--border-style);
    cursor: pointer;
    transition: background .3s;
}
.btn-large:hover {
    background: var(--secondary-color);
    color: var(--secondary-contrast);
}