.destaques-banner {
    width: 78dvw;
    background: var(--terciary-color);
    padding: 0.75rem 1rem;
    box-sizing: border-box;
    border-radius: var(--border-style);
    overflow: hidden;
    margin: 0 auto 40px auto;
}

.swiper {
    width: 100%;
}

.swiper-slide {
    background: #fff;
    border: 1px solid #ddd;
    border-radius: var(--border-style);
    padding: 0.75rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 100%; /* antes era 420px */
    height: 110px; /* Garante que todos os slides tenham a mesma altura */
    box-sizing: border-box;
    overflow: hidden;
}

.slide-content {
    display: flex;
    align-items: center;
    width: 100%;
    gap: 0.75rem;
}

.slide-text {
    flex: 1;
    overflow: hidden;
}

.slide-title {
    font-size: .95rem;
    font-weight: 600;
    color: #333;
    line-height: 1.2;
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2; /* Limita o título a no máximo 2 linhas */
    max-height: 100%;
}

.slide-date {
    font-size: 0.75rem;
    color: #666;
}

.slide-image {
    width: 80px;  /* Aumentado um pouco */
    height: 80px;
    object-fit: cover;
    border-radius: 4px;
    flex-shrink: 0;
}
