.form-control {
    padding: 20px 0;
}

.form-control .form-block {
    padding: 0 0 50px 0;
}

.form-control .form-block h3 {
    margin-bottom: 20px;
    border-bottom: 2px solid #1060a5;
}

.form-control .form-item {
    padding: 10px 0;
    display: flex;
    justify-content: space-between;

}

.form-control .form-item label {
    width: 30%;
}

.form-control .form-item input[type="text"], .form-control .form-item input[type="tel"], .form-control .form-item textarea,  .form-control .form-item input[type="date"], .form-control .form-item input[type="email"], .form-control .form-item input[type="url"], .form-control .form-item select, .form-control .form-item input[type="time"]{
    width: 70%;
    border: 1px solid #727272;
    font-size: 1em;
    padding: 4px 10px;
    box-sizing: border-box;
    border-radius: var(--border-style);
    background-color: var(--background-color);
    color: var(--text-color);
}

.form-control .form-item input[type="number"] {
    padding: 10px;
    font-size: 1.3em;
    border-radius: var(--border-style);
    max-width: 60px;
    margin: 0px 5px;
}

.form-control .form-item textarea {
    padding: 10px;
}

.form-control .form-item input[type="file"] {
    display: none;
}

.form-control input[type="submit"], .btn{
    flex-direction: column;
    padding: 5px;
    min-width: 100px;
    margin: 2px;
    background-color: var(--primary-color);
    color: var(--primary-contrast);
    border: 0;
    border-radius: var(--border-style);
    font-size: 1em;
}

.form-control input[type="submit"]:hover, .btn:hover{
    cursor: pointer;
    background-color: var(--secondary-color);
    color: var(--secondary-contrast);

}

.form-control .form-square {
    border: 1px solid #727272;
    width: 70%;
    padding: 10px;
    box-sizing: border-box;
    font-size: 1.1em;
    display: flex;
    justify-content: space-around;
    border-radius: var(--border-style);
}

.form-control .form-options {
    margin: 40px 0;
    text-align: center;
}

.input-false{
    border: 0px;
}
