/*search-panel*/
.search-panel {
    border-radius: var(--border-style);
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.search-panel-item {
    padding: 10px;
}

.search-panel-item input[type='date'],
.search-panel-item input[type='text'],
.search-panel-item input[type='month'],
.search-panel-item select{
    width: 180px;
    height: auto;
    font-size: 1em;
    padding: 5px;
    border-radius: var(--border-style);
    background-color: var(--background-color);
    border: 1px solid rgba(0, 0, 0, 0.4);
}

.search-panel button {
    padding: 8px;
    font-size: 1em;
    color: var(--primary-contrast);
    background-color: var(--primary-color);
    border-radius: var(--border-style);
    border: 0;
    box-shadow: 0 1px 10px rgba(0, 0, 0, 0.15);
    white-space: nowrap;
}

.search-panel button:hover {
    cursor: pointer;
    background-color: var(--secondary-color);
    color: var(--secondary-contrast);
}
