* {
    padding: 0;
    margin: 0;
    font-family: var(--text-font);
}

/*Config do header*/

header nav {
    display: flex;
    width: 100%;
    border-bottom: 4px solid var(--secondary-color);
    border-radius: 20px;
}

header nav .nav-logo img{
    width: 135px;
    padding: 10px;
}

header nav .nav-logo img:hover{
    cursor: pointer;
}

header nav .nav-menu {
    width: 100%;
    align-items: center;
}

header nav .nav-menu ul{
    list-style: none;
    display: flex;
    width: 100%;
    justify-content: space-around;
    align-items: center;
    height: 100%;
}

header nav .nav-menu ul a {
    text-decoration: none;
    color: var(--text-color);
}

header nav .nav-menu ul li{
    padding: 8px;
    margin: 2px;
    border-bottom: 4px solid var(--terciary-color);
    font-size: 1.3em;
}

header nav .nav-menu ul li:hover {
    border-bottom: 4px solid var(--secondary-color);
    cursor: pointer;
    transform: scale(1.02);
}

/*Parte do body*/

.container {
    margin-top: 25px;
    padding: 15px;
    font-size: 1.1em;
    min-height: 400px;
}

h1 {
    font-weight: 500;
    text-align: center;
}

/*Cards*/
.card-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.card {
    padding: 15px;
    min-width: 180px;
    flex: 1;
    border: 1px solid var(--secondary-color);
    box-shadow: 1px 1px;
    border-radius: 5px;
    margin-bottom: 10px;
}

.card-date{
    font-weight: 500;
}

.card-title {
    font-size: 1.5em;
}

.card-owner{
    background-color: var(--secondary-color);
    color: var(--secondary-contrast);
    width: fit-content;
    padding: 5px;
    margin-bottom: 5px;
    border-radius: 5px;
}

/*Div Info*/
.info {
    padding: 15px;
}

.info h3 {
    margin-bottom: 20px;
    border-bottom: 2px solid var(--secondary-color);
}

.info_item {
    border-radius: 5px;
    padding: 25px 50px;
    min-width: 20%;
    flex: 0 0 1;
    margin: 0 5px 5px 0;
    background-color:var(--primary-color);
    color: var(--primary-contrast);
    box-shadow: 1px 1px;
}

/*Listas

Esta lista está dividida em cinco colunas, sendo cada uma de 20% da width
*/
.list{
    width: 100%;
    margin: 25px 0;
    display: flex;
    flex-direction: column;
    overflow: auto;
}

.list a {
    color: var(--text-color);
    text-decoration: none;
}

.list-item, .list-title{
    width: 100%;
    display: flex;
    flex-direction: row;
    border-bottom: 1px solid var(--primary-color);
    padding: 10px 0;
    justify-content: space-between;
}

.list-item:hover {
    background-color: var(--primary-color);
}

.list-item .item, .list-title .item{
    border-left: 1px solid var(--primary-color);
    padding-left: 2px;
}

.list-item .item-1, .list-title .item-1{
    width: 20%;
}

.list-item .item-15, .list-title .item-15 {
    width: 30%;
}

.list-item .item-2, .list-title .item-2 {
    width: 40%;
}

/*search-panel*/
.search-panel {
    border-radius: 20px;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.search-panel-item {
    padding: 15px;
}

.search-panel-item input[type='date'],
.search-panel-item input[type='text'],
.search-panel-item select{
    width: 180px;
    height: 40px;
    font-size: 18px;
    padding: 5px;
    margin: 2px;
}

.search-panel button {
    padding: 15px;
    font-size: 18px;
    width: 100px;
    color: var(--primary-contrast);
    background-color: var(--primary-color);
    border-radius: 20px;
    border: 0;
    margin-top: 5px;
}

.search-panel button:hover {
    cursor: pointer;
    background-color: var(--secondary-color);
    color: var(--secondary-contrast);
}


/* Footer*/
footer {
    display: flex;
    justify-content: center;
    height: 120px;
    align-items: center;
    flex-direction: column;
    background-color: var(--secondary-color);
    color: var(--secondary-contrast);
    width: 100%;
}

/*Flesh Messages*/
main .msg {
    position: fixed;
    bottom: 6px;
    left: 6px;
    min-height: 100px;
    width: fit-content;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: (--terciary-color);
    color: var(--terciary-contrast);
}

main .msg .close{
    float: right;
    cursor: pointer;
    width: fit-content;
    padding: 4px;
    font-size: 1.2em;
}

main .msg .success {
    background-color: var(--terciary-color);
    padding: 15px;

}

main .msg .error{
    background-color: #8B0000;
    padding: 15px;
}

/* Popup */
.popup{
    position: fixed;
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background-color: var(--background-color);
    padding: 25px;
    border: 10px outset var(--secondary-color);
    min-width: 280px;
    text-align: center;
    opacity: 0;
    transition: opacity 0.3s ease;
    display: none;
}

.popup.mostrar {
    opacity: 1;
    display: block;
}

.popup h2{
    border-bottom: 1px solid var(--secondary-color);
}

.popup p {
    margin: 15px 0;
    font-size: 1.2em;
}

.popup button{
    background-color: var(--primary-color);
    color: var(--primary-contrast);
    border: 0;
    padding: 5px 20px;
    border-radius: 20px;
    font-size: 1.2em;
}

.popup button:hover{
    background-color: var(--secondary-color);
    color: var(--secondary-color);
    cursor: pointer;
}

/*configurações especiais ou genéricas*/
.mg-top-10{
    margin-top: 10px;
}

.center {
    text-align: center;
}

.square {
    padding: 15px;
    min-width: 180px;
    min-height: 80px;
    flex: 1;
    border: 1px solid var(--text-color);
    box-shadow: 1px 1px;
    border-radius: 5px;
    margin-bottom: 10px;
}

/*Limita uma div a 80%*/
.limit-80 {
   max-width: 80%;
   margin: auto;
}

.clear {
    clear: both;
}

.tx-right {
    text-align: right;
}


/*Estilo de elementos específicos*/
.tag {
    display: inline-block;
    background: var(--secondary-color);
    color: var(--secondary-contrast);
    padding: 4px 10px;
    border-radius: 12px;
    cursor: pointer;
}

.link-standard {
    color: var(--secondary-color);
    text-decoration: underline;
}

/*Estilo para impressão*/
@media print {
    body {
      font-size: 12pt;
      color: var(--text-color);
    }
    h1 {
      color: var(--secondary-color);
    }
    .nao-imprimir {
      display: none;
    }
  }

@media screen and (max-width:500px) {
    
    header nav {
        display: flex;
        flex-direction:column;
    }

    header nav .nav-menu {
        margin-top: -20px;
        margin-bottom: 20px;
    }

    .limit-80 {
        max-width: 100%;
    }

}
